<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Always beautiful and blooming orchids to decorate your reception lobby">
        <meta name="keywords" content="orchids, orchid blooming, fresh, floral arrangement, reception lobby decoration">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Greenfy always blooming Orchids in your lobby{% endblock %}</title>
         
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        
        
        {% block stylesheets %}
        <!-- Css Styles -->
            <link rel="stylesheet" href="{{ asset ('assets/css/bootstrap.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset ('assets/css/font-awesome.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset ('assets/css/themify-icons.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset ('assets/css/elegant-icons.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset ('assets/css/owl.carousel.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset ('assets/css/nice-select.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset ('assets/css/jquery-ui.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset ('assets/css/slicknav.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}" type="text/css">
        {% endblock %}
        
    </head>
    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        {% include "./front/includes/header.html.twig" %}

        {% block content %}{% endblock %}

        {% include "./front/includes/footer.html.twig" %}
        
        {% block javascripts %}
            <!-- Js Plugins -->
            <script src="{{ asset ('assets/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset ('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset ('assets/js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset ('assets/js/jquery.countdown.min.js') }}"></script>
            <script src="{{ asset ('assets/js/jquery.nice-select.min.js') }}"></script>
            <script src="{{ asset ('assets/js/jquery.zoom.min.js') }}"></script>
            <script src="{{ asset ('assets/js/jquery.dd.min.js') }}"></script>
            <script src="{{ asset ('assets/js/jquery.slicknav.js') }}"></script>
            <script src="{{ asset ('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset ('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
